@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji&family=Zen+Maru+Gothic&family=Zen+Kaku+Gothic&family=Kosugi&family=Hachi+Maru+Pop&display=swap');

:root {
  --min-font-size: 16px;
  --max-font-size: 24px;
}

/* その他絵文字に使用 */
.notoemoji-color {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 音符に使用 */
.notoemoji-mono {
  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* FanFun度の表示に使用 */
.hachi-maru-pop {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}

/* 地図の歌詞に使用 */
.kosugi-regular {
  font-family: "Kosugi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* リザルト画面の総評で使用 */
.zenkaku-gothic {
  font-family: "Zen Kaku Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* アプリ全体に使用 */
.zenmaru-gothic {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

/* Responsive */
html,
body {
  font-family: "Zen Maru Gothic", serif;
  height: 100%;
  display: grid;
  place-items: center;
}

body {
  background: #a8a8a8;
}

#display {
  border-image-slice: 1;
  border-width: 2vw;
  border-radius: 2vw;
  /* width: 100%; */
  width: 90vmax;
  /* 横幅の計算 */
  height: min(97vh, 97vw*9/16);
  /* 縦幅の計算 */
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #101010;
  position: relative;
}

#logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-height: 2vw;
  object-fit: contain;
  /* アスペクト比を保持 */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transform: translate(-50%, 100%);
  filter: brightness(50%);
  /* 画像の明るさを50%に設定 */
}

#navi {
  position: relative;
  border-radius: 2vw;
  display: block;
  background-color: #101010;
  color: #ffeedd;
  height: 100%;
  width: 100%;
  -webkit-flex: 3;
  flex: 3;
  border-radius: 0.1vw;
}



.soft-gloss {
  border-image: -webkit-linear-gradient(transparent 0%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, rgba(16, 16, 16, 0.1) 100%);
  border-image: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.3) 50%, transparent 50%, rgba(016, 16, 1, 0.1) 100%);
  /* box-shadow: 0 2px 2px 0 rgba(255, 255, 255, .2) inset, 0 2px 10px 0 rgba(255, 255, 255, .5) inset, 0 -2px 2px 0 rgba(0, 0, 0, .1) inset; */
  border: 1px solid rgba(16, 16, 16, 0.2);
}