:root {
  --min-font-size: 16px;
  --max-font-size: 24px;
}

/* Responsive */
html,
body {
  height: 100%;
  display: grid;
  place-items: center;
}

body {
  background: gray;
}

#display {
  border-image-slice: 1;
  border-width: 2vw;
  border-radius: 2vw;
  /* width: 100%; */
  width: 90vmax;
  /* 横幅の計算 */
  height: min(97vh, 97vw*9/16);
  /* 縦幅の計算 */
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  position: relative;
}

#logo{
  position: absolute;
  bottom: 0;
  left: 50%;
  max-height: 2vw;
  object-fit: contain; /* アスペクト比を保持 */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transform: translate(-50%, 100%);
  filter: brightness(50%); /* 画像の明るさを50%に設定 */
}

#navi {
  position: relative;
  border-radius: 2vw;
  display: block;
  background-color: black;
  height: 100%;
  width: 100%;
  -webkit-flex: 3;
  flex: 3;
  border-radius: 0.1vw;
}

#history {
  height: 100%;
  -webkit-flex: 1;
  flex: 1;
  border-radius: 0vw;
  background-color: #2a2a2a;
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soft-gloss {
  border-image: -webkit-linear-gradient(transparent 0%, rgba(255, 255, 255, .3) 50%, transparent 50%, rgba(0, 0, 0, .1) 100%);
  border-image: linear-gradient(transparent 0%, rgba(255, 255, 255, .3) 50%, transparent 50%, rgba(0, 0, 0, .1) 100%);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, .2) inset, 0 2px 10px 0 rgba(255, 255, 255, .5) inset, 0 -2px 2px 0 rgba(0, 0, 0, .1) inset;
  border: 1px solid rgba(0, 0, 0, .2);
}
