/* Responsive */
html,
body {
  height: 100%;
  display: grid;
  place-items: center;
}

body {
  background: gray;
}

#display {
  border-radius: 15px;
  /* background: #fff; */
  /* object-fit: contain; */
  width: 98vw;
  /* 横幅の計算 */
  height: min(97vh, 97vw*9/16);
  /* 縦幅の計算 */
  padding: 2%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
}

#navi {
  position: relative;
  background-color: #fff;
  height: 100%;
  -webkit-flex: 3;
  flex: 3;
  border-radius: 3px;
}

#history {
  height: 100%;
  -webkit-flex: 1;
  flex: 1;
  background-color: #86cecb;
  box-sizing: border-box;
  padding: 0%1%0%1%;
  display: flex;
}

/* Textalive広告 */
.media {
  height: 0;
  opacity: 0;
  display: none;
  visibility: hidden;
}

/* 地図 / Map */
.mapcomponent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* aspect-ratio: min(16/9.5, 100); */
}

#map {
  position: relative;
  /* width: 100%; */
  height: 100%;
}

.kashihistory {
  font-size: 200%;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-align:justify;
  text-align-last:justify;
  background-color: blue;
  height: 100%;
  writing-mode: vertical-rl;
  /* text-orientation: sideways; */
  /* transfor14m: translate(-48%, -50%) rotate(90deg); */
  flex :2;
  /* transform: rotate(90deg); */
}

.debughistory{
  flex: 8;
  overflow: hidden;
}

.hoverhistory {
  background-color: gray;
  border-color: #e12885;
  border-width: 2px;
  border-radius: 15px;
  padding: .5em;
  margin: .5em;
  color: #fff;
  font-size: 100%;
  overflow: hidden;
  animation: fadeInSlideDown 1s ease forwards;
}

/* 歌詞のスタイル(important付けないと他のが優先されりゅ) */
.label-note{
  background-color: transparent!important;
  border: 0px!important;
  box-shadow: none!important;
  font-size: 200%!important;
}

/* 歌詞のスタイル(important付けないと他のが優先されりゅ) */
.label-kashi{
  background-color: transparent!important;
  border: 0px!important;
  box-shadow: none!important;
  font-size: 200%!important;
  /* animation: fadeIn 0.255s ease;
  transition: transform 1s ease; */
  /* transform: translate(0px, 0px); */
  /* animation: fadeInSlideUp 2s ease-in-out none */
}

/* 歌詞のアニメーションを司る */
.tooltip-lyric{
  animation: fadeInSlideRight 0.5s ease-in-out none;
}

/* 歌詞の色（ミク） */
.hiragana.miku{
  color: #373b3e	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 100%!important;
}
.katakana.miku{
  color: #137a7f	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 100%!important;  
}
.kanji.miku{
  color: #e12885	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 120%!important;
}
.english.miku{
  color: #137a7f	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 120%!important;  
}
.number.miku{
  color: #137a7f	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 150%!important;  
}
.symbol.miku{
  color: #373b3e	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 100%!important;  
}
.space.miku{
  color: #373b3e	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 100%!important;  
}
.other.miku{
  color: #373b3e	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 100%!important;  
}

/* 歌詞の色（レン） */
.hiragana.len{
  color: #555658	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 100%!important;
}
.katakana.len{
  color: #2b90a2	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 100%!important;  
}
.kanji.len{
  color: #ffd98c	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 120%!important;
}
.english.len{
  color: #2b90a2	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 120%!important;  
}
.number.len{
  color: #2b90a2	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 150%!important;  
}
.symbol.len{
  color: #555658	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 100%!important;  
}
.space.len{
  color: #555658	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 100%!important;  
}
.other.len{
  color: #555658	!important;
  font-weight: normal!important; 
  /* bold */
  font-size: 100%!important;  
}


/* ISSUE:既存のtranslate3dがあとに実行されてしまうので，座標がおかしくなる */
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0.5;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* 曲コントロール */
.mediacircle {
  display: flex;
  height: 20vh;
  width: 90%;
  border: 2px solid;
  padding: 0.1em, 0.1em, 0.1em, 0.1em;
  border-radius: 15px;
  background: #e12885;
  position: absolute;
  z-index: 1000000000000000000;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

/* ジャケット */
.media-jacket {
  height: 100%;
  /* display: flex; */
  /* padding:1em; */
}

/* 曲情報 */
.media-info {
  margin: 0.8em 1em 0.8em 10em;
  width: 100%;
  /* display: flex; */
  /* padding: 0.2em 5em 0.2em 5em; */
  /* border-radius: 15px; */
  /* mix-blend-mode: multiply	; */
  /* align-items: center; */
  position: absolute;
  top: 0;
  left: 0;
}

/* タイトルとアーティスト */
.title-artist{
  display: flex;
  text-align: bottom;
}

/* si-kuba */
.media-seek {
  margin: 0.8em;
  width: 100%;
  /* display: flex; */
  border: 1px solid;
  /* border-radius: 15px; */
  background: #373b3e;
  /* mix-blend-mode: multiply	; */
  /* clip-path: inset(0px round 0px); */
  /* align-items: center; */
  position: relative;
}

.jacketpic {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}

.media-jacket, .media-info {
  position: absolute;
  top: 0;
  left: 0;
}

.transparent {
  position: relative;  /* 基準位置とする */
}
.transparent::before {
  content: "";         /* 疑似要素に必須 */
  width: 100%;         /* 幅いっぱい */
  height: 100%;        /* 高さいっぱい */
  display: block;      /* 高さを指定するためにブロック要素にする */
  background: linear-gradient(90deg, rgba(255,255,255,0) 0, #373b3e 20%); /* 徐々に透明にする */
  position: absolute;  /*  */
  top: 0;
  left: 0;
}

.songtitle {
  font-size: 4vh;
  color: #fff;
  margin-right: 20px;
}

.songartist {
  font-size: 3vh;
  color: #fff;
  display: table-cell;
  text-align: center;
}

.time {
  font-size: 2.5vh;
  color: #fff;
  display: table-cell;
  text-align: left;
}

.playartist {
  display: table;
  width: 90%;
  /* overflow: hidden; */
}

.songcontrol {
  display: flex;
}

.seekbar {
  font-size: 1vh;
  width: 80%;
}

.pausebutton {
  font-size: smaller;
  width: 10%;
}

.soft-gloss {
  background-image: -webkit-linear-gradient(transparent 0%, rgba(255, 255, 255, .3) 50%, transparent 50%, rgba(0, 0, 0, .1) 100%);
  background-image: linear-gradient(transparent 0%, rgba(255, 255, 255, .3) 50%, transparent 50%, rgba(0, 0, 0, .1) 100%);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, .2) inset, 0 2px 10px 0 rgba(255, 255, 255, .5) inset, 0 -2px 2px 0 rgba(0, 0, 0, .1) inset;
  border: 1px solid rgba(0, 0, 0, .2);
}

/* 
.fade-text{
  display: block;
  color: transparent;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 40px;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300% 300%;
}

.fade-text .to_right {
  background-image: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0) 60%);
  background-position: left 100% center;
  transform: translate(-20px, 0);
  -webkit-animation: toRight var(--duration, 2.4s) var(--ease) var(--delay, 0.6s) forwards;
          animation: toRight var(--duration, 2.4s) var(--ease) var(--delay, 0.6s) forwards;
} */
