.hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95%;
}

.hovertext {
  flex: 0.5;
  width: 100%;
  text-align: center;
  font-size: 1.8vw;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.hoverline {
  border-bottom: 0.5vh solid #fff;
  width: 100%;
}

.hovercomponent {
  flex: 7.5;
  overflow-y: scroll;
  /* Customize scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #7bcac9 transparent;
  height: 92%;
  width: 100%;
  margin: 1%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #7bcac9;
  border-radius: 10px;
  border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #5ca2a0;
}

.hoverhistory {
  background-color: #7bcac9;
  border-radius: 1.5vh;
  font-size: 1vh;
  padding: 1.5em;
  margin: 1em;
  color: #000;
  /* overflow: hidden; */
  animation: fadeInSlideDown 1s ease forwards;
}

.historyname {
  font-size: 1.5vw;
  font-weight: bold;
}

.historydetail {
  font-size: 1vw;
}

.funfun {
  display: 2;
  font-size: 2.5vw;
}

@keyframes fadeInSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-2em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tooltip {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  font-size: 0.75vw;
  color: #999;
  text-align: center;
  margin-top: 2em;
  width: 25%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* ツールチップの位置を調整 */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0%;
}

.credit:hover .tooltiptext {
  visibility: visible;
}