/* MapContainer内の順番固定 */

/* 経由地レイヤ */
.leaflet-waypoint-pane {
    z-index: 1000;
}

/* 歌詞レイヤ */
.leaflet-lyric-pane {
    z-index: 900;
}

/* 車のライトレイヤ */
.leaflet-light-pane {
    z-index: 800;
    mix-blend-mode: overlay;
}

/* 空レイヤ */
.leaflet-sky-pane {
    z-index: 700;
    mix-blend-mode: multiply;
    /* mix-blend-mode: normal; */
}

/* 車レイヤ */
.leaflet-car-pane {
    z-index: 600;
}

/* 音符レイヤ */
.leaflet-note-pane {
    z-index: 500;
}

/* ルートレイヤ */
.leaflet-pathway-pane {
    z-index: 400;
}
