/* MapContainer内の順番固定 */

.leaflet-lyric-pane {
    z-index: 800;
}

.leaflet-waypoint-pane {
    z-index: 700;
}

.leaflet-sky-pane {
    z-index: 600;
}

.leaflet-car-pane {
    z-index: 500;
}

.leaflet-note-pane {
    z-index: 400;
}

.leaflet-pathway-pane {
    z-index: 300;
}
