/* 歌詞のスタイル(important付けないと他のが優先されりゅ) */
.label-kashi {
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
  font-size: 200% !important;
  opacity: 1 !important;
}

.tooltip-lyric{
  scale: calc(1 - calc(17 - var(--scale)) / 6)!important;
}

/* 歌詞の縁色 */
.miku,
.len {
  font-family: "Kosugi", sans-serif;
  text-shadow:
    0 0 calc(1px * var(--weather)) #ffeedd,
    0 0 calc(1px * var(--weather)) #ffeedd,
    0 0 2px black;
  /* フチの色と太さ */
  opacity: 1 !important;
}

/* 歌詞の色（ミク） */
.hiragana.miku {
  color: #373b3e !important;
  font-weight: bold !important;
  font-size: 150% !important;
}

.katakana.miku {
  color: #169297 !important;
  font-weight: bold !important;
  font-size: 160% !important;
}

.kanji.miku {
  color: #e12885 !important;
  font-weight: bold !important;
  font-size: 170% !important;
}

.english.miku {
  color: #169297 !important;
  font-weight: bold !important;
  font-size: 160% !important;
}

.number.miku {
  color: #169297 !important;
  font-weight: bold !important;
  font-size: 150% !important;
}

.symbol.miku {
  color: transparent !important;
  text-shadow: none !important;
}

.space.miku {
  color: transparent !important;
  text-shadow: none !important;
}

.other.miku {
  color: #373b3e !important;
  font-weight: bold !important;
  /* bold */
  font-size: 150% !important;
}

/* 歌詞の色（レン） */
.hiragana.len {
  color: #373b3e !important;
  font-weight: bold !important;
  /* bold */
  font-size: 150% !important;
}

.katakana.len {
  color: #169297 !important;
  font-weight: bold !important;
  /* bold */
  font-size: 160% !important;
}

.kanji.len {
  color: #f2ac20 !important;
  text-shadow:
    0 0 4px black,
    0 0 calc(1px * var(--weather)) white,
    0 0 calc(1px * var(--weather)) white,
    0 0 calc(1px * var(--weather)) white !important;
  font-weight: bold !important;
  /* bold */
  font-size: 170% !important;
}

.english.len {
  color: #169297 !important;
  font-weight: bold !important;
  /* bold */
  font-size: 160% !important;
}

.number.len {
  color: #169297 !important;
  font-weight: bold !important;
  /* bold */
  font-size: 150% !important;
}

.symbol.len {
  color: transparent !important;
  text-shadow: none !important;
}

.space.len {
  color: transparent !important;
  text-shadow: none !important;
}

.other.len {
  color: #373b3e !important;
  font-weight: bold !important;
  /* bold */
  font-size: 150% !important;
}