.result-split {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  user-select: none;
}

.result-left {
  display: flex;
  flex: 3;
  height: 100%;
  position: relative;
  border-radius: 2vh 0 0 2vh;
  /* 左上と左下の角を丸くする */
  overflow: hidden;
}

.detail-map{
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  border-color: #007bff;
  border-radius: 2vh ;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5vh;
  position: absolute;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.8);
}

.detail-mapcomponent {
  width: 100%;
  height: 100%;
  border-radius: 2vh;
}

.result-songtitle {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  height: 15vh;
  width: 90%;
  border: 0vw solid;
  border-radius: 1vw;
  border-color: #7bcac9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  position: absolute;
  z-index: 100000;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
}

.result-right {
  display: flex;
  flex-direction: column;
  border-radius: 0 2vh 2vh 0;
  /* 左上と左下の角を丸くする */
  justify-content:space-between;
  align-items: center;
  height: calc(100% - 2vw);
  flex: 2;
  padding: 1vw;
  background: #2a2a2a;
  position: relative;
  /* padding-top: 2vw; */
}

.result-title {
  position: absolute;
  color: white;
  font-size: 2.5vw;
  font-family: "Zen Maru Gothic", serif;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


.fanfun-title {
  width: 90%;
  color: white;
  font-size: 4vh;
  font-family: "Zen Maru Gothic", serif;
  text-align: left;
  margin: 1vh;
}

.fanfun-score {
  color: #e12885;
  font-size: 4vw;
  font-family: "Hachi Maru Pop", cursive;
  text-align: center;
  margin: 1vh;
  margin-top: 0vh;
}


.mm-waypoint {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 4vh;
}

.result-overview {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  font-size: 4vh;
  color: black;
  background-color: #f8cf71;
  padding: 0vh 1.5vh;
  clip-path: polygon(5vh 0, 100% 0, 100% 100%, 5vh 100%, 0 calc(100% - 4vh), 0 4vh);
  border-radius: 1vh;
  position: relative;
}

.result-hole{
  position: absolute;
  width: 3vh; /* 円の幅 */
  height: 3vh; /* 円の高さ */
  background-color: #2a2a2a; /* 円の背景色 */
  border-radius: 50%; /* 角を丸くして円を作成 */
  top: 50%; /* 上から50%の位置に */
  left: 1.5vh;
  transform: translateY(-50%); /* 上下中央に配置 */
}

.overview-tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  font-size: 2vh;
  color: black;
  margin: 2vh;
  margin-left: 5vh;
  background-color: #fff;
  border-radius: 1vh;
}

.overview-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 4vh;
  color: black;
  padding-top: 0vh;
  padding-left: 1vh;
}


.overview-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2vh;
  color: black;
  padding: 1vh;
}

.overview-hashtag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2vh;
  color: blue;
  padding: 1vh;
}


.result-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 1.25vh;
  font-size: 1.25vw;
  transition: transform 0.2s ease, background-color 0.2s ease; /* 背景色の変化も滑らかに */
}

.result-button:hover {
  background-color: #008cff; /* ホバー時の背景色を少し明るく */
  transform: scale(1.05); /* ホバー時に少し大きく */
}

.result-button:active {
  transform: scale(0.95); /* ボタンが押されたときに少し縮小 */
}

.material-symbols-outlined {
  margin-left: 0.1vhpx; /* アイコンとテキストの間隔 */
}

