/* 3x2のボタン配置 */
.grid-song {
  display: grid;
  height: 25vh;
  padding: 1vh;
  grid-template-columns: repeat(3, 1fr);
  /* 3列 */
  grid-template-rows: repeat(2, 1fr);
  /* 2行 */
  gap: 1vh;
  /* ボタン間の隙間 */
  place-items: center;
  align-items: center;
}

.selectSong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 25vh;
  border: none;
  cursor: pointer;
  background-color: gray;
}

.selectJacket {
  height: 20vh;
}

.selectSongInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
}