/* 3x2のボタン配置 */
.grid-song {
    display: grid;
    height: 50%;
    padding: 1em;
    grid-template-columns: repeat(3, 1fr); /* 3列 */
    grid-template-rows: repeat(2, 1fr); /* 2行 */
    gap: 10px; /* ボタン間の隙間 */
    place-items: center;
    align-items: center;
  }
  
  .selectSong{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; /* ボタンの幅 */
    height: 100%; /* ボタンの高さ */
    background-color: #22b674; /* ボタンの背景色 */
    color: white; /* テキスト色 */
    border: none; /* 枠線なし */
    border-radius: 5px; /* 角の丸み */
    cursor: pointer; /* ホバー時のカーソル変更 */
    margin: 5px; /* ボタン間の余白 */
    font-size: larger; /* テキストサイズ */
  }
