/* 横向き表示を促すメッセージのスタイル */
.rotate-device {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  padding-top: 50vh;
  z-index: 1000;
}

/* スマートフォンが縦向きのときにのみメッセージを表示 */
@media screen and (orientation: portrait) {
  .rotate-device {
    display: block;
  }
}

.jacket-song {
  display: flex;
  flex-direction: row;
  border-radius: 2vh;
  justify-content: space-evenly;
  height: 100%;
  background: linear-gradient(to bottom, #000023 0%, #004466 100%);
  /* カーナビ風のダークなグラデーション背景 */
}

.grid-song {
  font-family: "Zen Maru Gothic", serif;
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  gap: 1vh;
  place-items: center;
  align-items: center;
  overflow: auto;
  /* Add overflow property to enable scrolling */
  scrollbar-width: thin;
  scrollbar-color: #7bcac9 transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #7bcac9;
  border-radius: 10px;
  border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #5ca2a0;
}

.select-song-text {
  font-size: 4vh;
  /* フォントサイズを大きく */
  color: #ffffff;
  /* 白色のテキスト */
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.select-song-button {
  font-family: "Zen Maru Gothic", serif;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 2vh 5vw;
  border: 0.3vh solid #007ACC;
  cursor: pointer;
  border-radius: 2vh;
  transition: transform 0.3s ease-in-out;
  font-size: 2vw;
  width: 60%;
  height: 100%;
  margin: 0.5vh;
  text-align: left;
}

.select-song-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.selectSongInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 2vh;
  gap: 3vh;
}

.selectJacket {
  width: 16vw;
  height: 9vw;
  object-fit: cover;
  border-radius: 2vh;
}

.selectTitle,
.selectArtist,
.selectVocaloid,
.selectLength {
  /* フォントサイズを大きく */
  color: #007ACC;
  /* カーナビ風の青色のテキストに変更 */
  text-align: center;
}

.selectTitle,
.title {
  font-size: 1.55vw;
  font-weight: bold;
  /* タイトルを太字に */
}


.selectArtist,
.selectVocaloid,
.artist,
.vocaloid {
  font-size: 1.5vw;
  /* アーティストとボーカロイドのフォントサイズを少し小さく */
}

.selectLength,
.length {
  font-size: 1.4vw;
  /* 再生時間のフォントサイズを標準に */
  color: #ffffff;
  /* 再生時間のテキスト色を白に */
}


a {
  color: inherit;
  /* 親要素から色を継承 */
  text-decoration: none;
  /* ハイパーリンクの下線を消す */
}

a:visited {
  color: inherit;
  /* 親要素から色を継承 */
}

.tooltip-credit {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  font-size: 0.9vw;
  color: #999;
  text-align: center;
  margin-top: 2em;
  width: 25%;
}

.tooltip-credit .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* ツールチップの位置を調整 */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 0%;
}

.credit:hover .tooltiptext {
  visibility: visible;
}

.ppbutton.material-symbols-outlined {
  color: #FFFFFF;
  font-size: 7vh;
  font-weight: normal;
  text-shadow: 2px 2px 4px #000000;
}