/* Responsive */
html, body {
  height: 100%;
  display: grid;
  place-items: center;}
body {
  background: gray;
}

#display {
  border-radius: 15px;
  /* background: #fff; */
  /* object-fit: contain; */
  width: 97vw;
  /* 横幅の計算 */
  height: min(97vh, 97vw*9/16);
  /* 縦幅の計算 */
  padding: 2%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
}

#navi {
  position: relative;
  height: 100%;
  -webkit-flex: 3;
  flex: 3;
  border-radius: 3px;
  box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.3);
  z-index: 0;
}

#history {
  height: 100%;
  -webkit-flex: 1;
  flex: 1;
  background-color:#86cecb;
  box-sizing: border-box;
  padding: 1%;
}


/* 地図 / Map */
.mapcomponent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0%;
  left: 0;
  /* aspect-ratio: min(16/9.5, 100); */
}

#map{
  box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.3);

  position: relative;
  /* width: 100%; */
  height: 100%;
}

.mediacircle {
  display: flex;
  width: 90%;
  border: 2px solid;
  padding: 0.1em;
  border-radius: 15px;
  background: #e12885;
  position: absolute;
  z-index: 1000000000000000000;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.media-jacket {
  margin: 0.8em;
  width: 15%;
  /* display: flex; */
  /* padding:1em; */
  background: #bec8d1;
}

.media-seek {
  margin: 0.8em;
  width: 70%;
  /* display: flex; */
  border: 1px solid;
  padding: 0.2em 1em;
  /* border-radius: 15px; */
  background: #373b3e;
  /* mix-blend-mode: multiply	; */
  clip-path: inset(0px round 0px);
}

.songtitle {
  font-size: larger;
  color: #fff;
}

.songartist {
  font-size: normal;
  color: #fff;
  display: table-cell;
  text-align: center;
}

.time {
  font-size: normal;
  color: #fff;
  display: table-cell;
  text-align: left;
}

.playartist {
  display: table;
  width: 90%;
  /* overflow: hidden; */
}

.songcontrol {
  display: flex;
}

.seekbar {
  font-size: normal;
  width: 90%;
}

.pausebutton {
  font-size: smaller;
  width: 10%;
}

.soft-gloss{
  background-image: -webkit-linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  background-image:         linear-gradient(transparent 0%,rgba(255,255,255,.3) 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  box-shadow: 0 2px 2px 0 rgba(255,255,255,.2) inset,0 2px 10px 0 rgba(255,255,255,.5) inset,0 -2px 2px 0 rgba(0,0,0,.1) inset;
  border: 1px solid rgba(0,0,0,.2);
}